*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer{
    /* border: 2px solid blue; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.upperDiv{
    /* border: 2px solid red; */
    height : 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.upperDiv h1{
    font-size: 3rem;
    font-family: 'Noto Sans HK', sans-serif;
}
.upperDiv h3{
    font-size: 1rem;
    font-family: 'Noto Sans HK', sans-serif;
}
.upperDiv input{
    width: 35%;
    height: 15%;
    padding-left: 10px;
    border-color: aquamarine;
}
.answerDiv{
    /* border: 2px solid blue; */
    height : 68%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.answerDiv img{
    /* border: 2px solid red; */
    height : 60%;
    width: 30%;
    margin: 20px;
    border-radius: 20px;
} 
@media only screen and (max-width:425px){
 
    .upperDiv h1{
        font-size: 2.5rem;
    }
    .upperDiv h3{
        font-size: 0.8rem;
    }
    .upperDiv input{
        width: 50%;
    }
    .answerDiv img{
        width: 60%;
    }
}